html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font: 14px/20px 'Arial', sans-serif;
  color: #000;
  background-color: #f7f7f7;
  height: 500vh;
}

input,
textarea {
  font: 14px/20px 'Arial', sans-serif;
  min-width: 390px;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
}

input::placeholder {
  font: 12px 'Arial', sans-serif;
  color: #8993ad8e;
}

textarea::placeholder {
  font: 12px 'Arial', sans-serif;
  color: #8993ad8e;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {

  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

h2 {
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 30px;
}

/* анимация */

.rotate {
  transform: rotate(90deg);
  transition-duration: 0.400s;
}

.unrotate {
  transform: rotate(0deg);
  transition-duration: 0.400s;
}

/* /анимация */

.error {
  border-color: red;
}

.error::placeholder {
  content: "Заполните поле пжлст";
  color: rgb(255, 0, 0);
  font-size: 14px;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  padding-top: 65px;
  margin: 0 auto;
  width: 960px;
}

.tasks {
  float: left;
  width: 470px;
}

.tasks__none {
  padding: 20px 0;
  font-size: 16px;
  line-height: 16px;
  color: #8993ad;
}

.tasks__box {
  position: relative;
  margin-bottom: 20px;
}

.tasks_header {
  vertical-align: middle;
  position: relative;
  padding: 20px 20px;
  background-color: #fff;
}

.tasks__delete,
.tasks__scroll {
  display: inline-block;
  border: none;
  position: absolute;
  outline: none;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  background: transparent center no-repeat;
  background-size: auto;
  object-fit: cover;
}

.tasks__delete {
  background-image: url('../img/clear-button.png');
}

.tasks__scroll {
  right: 20px;
  background-image: url('../img/scroll.png');
}

.tasks__title {
  display: inline-block;
  margin-right: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.tasks__desc {
  display: block;
  padding: 20px 20px;
  width: 100%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 14px;
  color: #8993ad;
  background-color: #fff;
  border-top: 1px solid #f7f7f7;
}

.created-tasks {
  width: 470px;
  float: right;
}

.created-tasks__form {
  min-height: 500px;
  padding: 28px 40px 30px;
  background-color: #fff;
  
}

.created-tasks__label {
  display: inline-block;
  margin-bottom: 6px;
  color: #8993ad;
}

#created-tasks__input {
  height: 45px;
  font-size: 16px;
}

#created-tasks__textarea {
  resize: none;
  height: 230px;
  font-size: 16px;
}

#created-tasks__add-button {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 20px 55px;
  background-color: #2174fd;
}

/* 
Стили для кнопки(которая вызывает Popup) и Popup контейнера 
 */

#created-tasks__ads {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 20px 20px;
  margin-left: 50px;
  background-color: #7521fd;
}

.popup-container {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.popup {
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  background-color: #fff;
  padding: 20px;
}

.fixed {
  overflow: hidden;
  position: fixed;
  width:100%;
}


