html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font: 14px/20px 'Arial', sans-serif;
  color: #000;
  background-color: #f7f7f7;
}

input,
textarea {
  font: 14px/20px 'Arial', sans-serif;
  min-width: 390px;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {

  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

form {
  margin-top: 65px;
}

legend {
  display: inline-block;
  margin: 0;
  font-size: 21px;
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.tasks {
  float: left;
  width: 470px;
  border: none;
  padding: 0;
  margin: 0;
}

.tasks__legend {
  margin: 0;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 30px;
}

.tasks__none {
  margin: 0;
  padding: 20px 0;
  font-size: 16px;
  line-height: 16px;
  color: #8993ad;
}

.tasks__box {
  position: relative;
  min-height: 135px;
  background-color: #fff;
}

.tasks_header {
  vertical-align: middle;
  position: relative;
  padding: 20px 20px;
}

.tasks__delete,
.tasks__scroll {
  display: inline-block;
  padding: 0;
  border: none;
  position: absolute;
  outline: none;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  background: transparent center no-repeat;
  background-size: auto;
  object-fit: cover;
}

.tasks__delete {
  background-image: url('../img/clear-button.png');
}

.tasks__scroll {
  right: 20px;
  background-image: url('../img/scroll.png');
}


.tasks__title {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.tasks__desc {
  margin: 0;
  padding: 20px 20px;
  font-size: 14px;
  line-height: 14px;
  color: #8993ad;
  width: 100%;
  border-top: 1px solid #f7f7f7;
}

.created-tasks {
  float: right;
  width: 470px;
  border: none;
  padding: 0;
  margin: 0;
}

.created-tasks__box {
  display: inline-block;
  min-height: 500px;
  background-color: #fff;
  padding: 28px 40px 30px;
}

.created-tasks__label {
  display: inline-block;
  margin-bottom: 6px;
  color: #8993ad;
}

#created-tasks__input {
  height: 45px;
  font-size: 16px;
}

#created-tasks__textarea {
  resize: none;
  height: 230px;
  font-size: 16px;
}

.created-tasks__add-button {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 20px 55px;
  background-color: #2174fd;
}